{% extends 'main/base.html' %}

{% load static %}

{% block title %}Welcome! :: {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/account.css' %}"/>
{% endblock css %}

{% block left %}
<h2 class="medium-futura"><a href="">Welcome!</a></h2>
{% endblock left %}

{% block content %}
    <form id="register-form" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="text-center content-title">
            <h3>로그인</h3>
        </div>
        <div class="line"></div>
        {{ form.username }}
        {% if failed and not form.username.errors %}
            <p class="error-message">존재하지 않는 아이디입니다.</p>
        {% endif %}
        {{ form.password }}
        {% if failed and form.username.errors %}
            <p class="error-message">아이디 또는 비밀번호가 맞지 않습니다.</p>
        {% endif %}
        <button class="register-button primary-button medium-border-radius">로그인</button>
        <div id="hagi-text" class="text-center">
            계정이 없으신가요? <a class="text-button-color" href="{% url 'account_signup' %}">가입하기</a>
        </div>
    </form>
{% endblock content %}
