
{% extends 'main/base.html' %}

{% block left-type %}
    <div id="left-type" class="left-tab">
{% endblock left-type %}
    </div>

{% block content %}
    <div class="content-back">
        <div class="tab-box">
            {% block main-content %}
            {% endblock main-content %}
        </div>
        <div class="tab-box" style="display: none">
            <div id="chat-box">
                <template v-for="chat in chats">
                    <template v-if="chat.user === 'system'">
                        <p class="system">[[chat.message]]</p>
                    </template>
                    <template v-else>
                        <p><a>[[ chat.user ]]</a> : [[ chat.message ]]</p>
                    </template>
                </template>
            </div>
            <form onsubmit="return chat_send();" id="chat-input-form">
                <input id="chat-message" type="text" placeholder="메시지를 입력하세요." autocomplete="off">
                <button class="medium-futura primary-button">></button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block script %}

    {% with socket_url='https://playground-socket.herokuapp.com' %}

    <script src="{{ socket_url }}/socket.io/socket.io.js"></script>
    <script type="application/javascript">

        // tab js
        let tab_buttons = $(".tab-button");
        tab_buttons.on('click',function(){
          // 버튼 색 제거,추가
          tab_buttons.removeClass('tab-on');
          $(this).addClass('tab-on');

          // 컨텐츠 제거 후 인덱스에 맞는 컨텐츠 노출
          let idx = tab_buttons.index(this);
          let tab_boxes = $('.tab-box');

          tab_boxes.hide();
          tab_boxes.eq(idx).show();
        });

        // 이름 추출 / 없으면 익명
        let user_name = '익명' + (Math.floor(Math.random()*8999) + 1000).toString();
        {% if user.is_authenticated %}
            user_name = '{{ user.first_name }}';
        {% endif %}

        let chat_box = new Vue({
            delimiters: ['[[', ']]'],
            el: '#chat-box',
            data: {
                chats: []
            },
            updated: () => {
                // 새로운 메시지가 오면 최하단으로
                const chat_box_dom = document.getElementById('chat-box');

                chat_box_dom.scrollTop = chat_box_dom.scrollHeight;
            }
        });

        const socket = io.connect('{{ socket_url }}');

        // functions
        push_chat_box = (user, message) => {
            chat_box.chats.push({
                user: user,
                message: message
            });
        };

        chat_send = () => {
            const chat_message = document.getElementById('chat-message');

            if(chat_message.value !== '') {
                push_chat_box(user_name, chat_message.value);
                socket.emit('chat', chat_message.value);
                chat_message.value = '';
            }

            return false; // 페이지 리로드 방지
        };

        resize_chat_box = () => {
            let width = window.innerWidth;
            let height = window.innerHeight;

            if(height > 512) {
                if (width <= 480) {
                    $('#chat-box').height(height - 362);
                } else if (width <= 768) {
                    $('#chat-box').height(height - 330);
                }
            } else {
                $('#chat-box').height(512-330);
            }
        };

        // listeners
        window.addEventListener('resize', _.debounce(
            () => {
                resize_chat_box();
            }, 500
        ), true);

        // socket listeners
        socket.on('connection', () => {
            socket.emit('join', user_name, {{ room_name }});
        })
        socket.on('chat', (name, text) => {
            push_chat_box(name, text);
        });
        socket.on('join', (name) => {
            push_chat_box('system', `${name}님이 입장했어요!`);
        });
        socket.on('update', () => {
            console.log('updated called');
        });
        socket.on('disconnect', (name) => {
            if(name === 'transport close') return;
            push_chat_box('system', `${name}님이 떠났어요..`);
        })

        // init code
        resize_chat_box();
    </script>

    {% endwith %}
{% endblock script %}
