{% load static %}
{% load sass_tags %}

<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://use.typekit.net/sih5llr.css"> {# 제목용 #}
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&display=swap" rel="stylesheet"> {# 본문용 #}

    <title>{% block title %}{% endblock title %}xivnick's Nemos</title>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href={% static 'playground/css/bootstrap.css' %}>
    <link rel="stylesheet" type="text/css" href="{% sass_src 'playground/css/playground.scss' %}?version=1.1"/>
    {% block css %}
    {% endblock css %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {# 모바일 대응 #}
    <meta charset="utf-8">

    <style>
        #body-wrapper{
            background: url('{% static 'playground/image/background_paper.jpg' %}') repeat-y; background-size: 100%;
        }
        @media all and (max-width: 768px) {
            #body-wrapper{
                background: #FFFFFF;
            }
        }
    </style>
</head>

<body>
    <div id="body-wrapper" style="">
        <header>
            <div id="header-back" class="base-color default-shadow">
                {# user button #}
                <div id="user-button-wrapper">
                    {% if user.is_authenticated  %}
                        안녕하세요, {{ user.first_name }}님!<a class="text-button-color" style="margin-left: 16px" href="{% url 'account_logout' %}">로그아웃</a>
                    {% else %}
                    로그인을 해주세요!<a class="text-button-color" style="margin-left: 16px"  href="{% url 'account_login' %}">로그인</a>
                    {% endif %}
                </div>
                {# user button end #}
                {# pixel logo #}
                <a href="/"><div id="logo-wrapper">
                    <div class="logo-row">
                        <div class="logo-box gray50"></div>
                        <div class="logo-box gray400"></div>
                        <div class="logo-box primary-color"></div>
                    </div>
                    <div class="logo-row">
                        <div class="logo-box gray400"></div>
                        <div class="logo-box gray400"></div>
                        <div class="logo-box primary-color"></div>
                    </div>
                    <div class="logo-row">
                        <div class="logo-box gray400"></div>
                        <div class="logo-box primary-color"></div>
                        <div class="logo-box primary-light"></div>
                    </div>
                </div></a>
                {# pixel logo end #}
                <h1 class="bold-futura"><a href="/">Nemos</a></h1>
            </div>
        </header>
        <div id="left-wrapper">
            <div id="left-back" class="base-color default-shadow">
                {% block left %}
                {% endblock left %}
            </div>
            <div id="left-triangle"></div>
        </div>
        <div id="content-wrapper">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

</body>

</html>