{% extends 'main/base.html' %}

{% load static %}

{% block title %}
    <title>Welcome! || xivnick's plaground</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}"/>
{% endblock css %}

{% block body %}
        <div id="left-sidebar">
            <div id="sub-title-wrapper">
                <div id="sub-title-back" class="base-color default-shadow">
                    <h2 class="title-font">Welcome!</h2>
                </div>
                <div id="sub-title-triangle"></div>
            </div>
        </div>
        <div id="content-wrapper">
            <div class="content-back base-color default-border">
                <form id="login-form">
                    <div class="text-center content-title">
                        <h3>로그인</h3>
                    </div>
                    <div class="line"></div>
                    <input class="login-input default-border small-border-radius" type="text" placeholder="아이디">
                    <input class="login-input default-border small-border-radius" type="password" placeholder="비밀번호">
                    <button class="register-button primary-color default-shadow default-border-radius">로그인</button>
                    <div id="hagi-text" class="text-center">
                        계정이 없으신가요? <a id="hagi-button" href="/signup">가입하기</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
