{% load static %}

<html>
<head>
    <title>xivnick's plaground</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href={% static 'playground/css/bootstrap.css' %}>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}"/>
    <meta charset="utf-8">
</head>

<body>
	<button type="button" class="btn btn-primary">Hello</button>

	<script type="text/javascript" src={% static 'playground/js/bootstrap.js'%}></script>
</body>

</html>