{% extends 'main/base_with_chat.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}?{{ ver }}"/>
{% endblock css %}

{% block left %}
    <button class="tab-button tab-on"><h2 class="medium-futura">Rooms</h2></button>
    <button class="tab-button"><h2 class="medium-futura">Chats</h2></button>
{% endblock left %}

{% block main-content %}
    <button id="new-room-button" onclick="location.href='{% url 'main_room_create' %}'" class="primary-border-button medium-futura">+</button>
    {% for room in rooms %}
        <div class="room-wrapper">
            <div class="room-header-wrapper">
                {% if room.get_status_display == "Waiting" %}
                    <div class="room-status-wrapper status-waiting">대기중</div>
                {% else %}
                    <div class="room-status-wrapper status-in-game">게임중</div>
                {% endif %}
                <div class="room-title-wrapper">{{ room.title }}</div>
            </div>
            <div class="room-game-wrapper">{{ room.get_game_display }} - 1 / 5</div>
            {% if room.get_status_display == "Waiting" %}
                <button class="room-button primary-button">입장</button>
            {% else %}
                <button class="room-button primary-light-button">관전</button>
            {% endif %}
        </div>
    {% endfor %}
{% endblock main-content %}
