
/* clear pre-set */
a, a:hover, a:visited, a:active{
    color: #000000;
    text-decoration: none;
}
button:focus, select:focus{
  outline: none;
}

select {
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    background: url("http://cdn.onlinewebfonts.com/svg/img_295694.svg") no-repeat 95% center/7%;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand { display: none; }

/* default css */
body{
    background: #BDBDBD;
    font-family: '본고딕', 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.base-color{
    background-color: #FDFDFD;
}

.gray50{
    background-color: #FAFAFA;
}
.gray400{
    background-color: #BDBDBD;
}

.primary-color{
    background-color: #3F51B5;
    color: white;
}
.primary-light{
    background-color: #7986CB;
    color: white;
}
.primary-dark{
    background-color: #303F9F;
    color: white;
}
.text-button-color{
    color: #3F51B5 !important;
    font-weight: 500;
}
.primary-text-color{
    color: #3F51B5
}

.default-shadow{
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.default-border{
    border: 1px solid #BDBDBD;
}
.primary-border{
    border: #3F51B5;
}
.semi-border{
    border: 3px solid;
}

.default-border-radius{
    border-radius: 2px;
}
.medium-border-radius{
    border-radius: 4px;
}

.bold-futura{
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.medium-futura{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* components */
.primary-button{
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    background-color: #3F51B5;
    color: white;
}
.primary-button:active{
    background-color: #303F9F;
}
.primary-light-button{
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    background-color: #7986CB;
    color: white;
}
.primary-light-button:active{
    background-color: #3F51B5;
}
.primary-border-button{
    background-color: #FFFFFF;
    color: #3F51B5;
}
.primary-border-button:active{
    background-color: #EEEEEE;
}

/* background css */
#body-wrapper{
    background: #E6E6E1;
    padding-bottom: 96px;
}

#body-wrapper:after{ /*float 문제를 해결*/
    content: "";
    display: block;
    clear: both;
}

/* header css */
header{
    height: 128px;
}

h1{
    font-size: 40px;
    line-height: 52px;
    margin: 0 0 0 16px;
    float: left;
}

#header-back{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #757575;
    padding: 16px 0 16px 32px;
    /*margin-bottom: 48px;*/
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}

#logo-wrapper{
    float: left;
}
.logo-row{
    float: none;
}
.logo-box{
    float: left;
    height: 16px;
    width: 16px;
    border: 1px solid #FDFDFD;
}

#user-button-wrapper{
    width: 256px;
    float: right;
    font-size: 16px;
    font-weight: 300;
    padding-left: 8px;
    padding-bottom: 2px;
    border-bottom: 1px solid #BDBDBD;
}

/* left setting */

h2{
    font-size: 32px;
    line-height: 72px;
    text-align: right;
    margin: 0;
}

#left-wrapper{
    width: calc(50% - 256px);
    position: fixed;
}

#left-back{
    padding-right: 16px;
    height: 64px;
    width: calc(100% - 32px);
    float: left;
}

#left-triangle{
    border-top: 64px solid #FDFDFD;
    border-right: 32px solid transparent;
    height: 0;
    width: 0;
    float: left
}

@media all and (max-width: 1024px) {
    /* 1024 이하일 경우 subtitle 가로 고정 */
    #left-wrapper{
        width: 256px;
    }
}

@media all and (max-width: 768px) {

    h2{
        font-size: 28px;
        text-align: center;
    }
    #left-wrapper{
        position: static;
        width: 87%;
        margin: 0 auto 32px;
    }
    #left-back{
        width: 100%;
        background-color: #ffffff;
        box-shadow: none;
        border-bottom: 1px solid #BDBDBD;
        padding: 0;
        float: none;
    }
    #left-triangle{
        display: none;
    }

    #left-wrapper:after{
        clear: both;
    }
}

/* content setting */
#content-wrapper{
    width: 512px;
    margin: auto;
    padding-top: 48px;
}

.content-back{
    padding-top: 48px;
    padding-bottom: 48px;
}
.content-title{
    width: 99%;
    margin-bottom: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid #BDBDBD;
}

h3{
    font-weight: normal;
    font-size: 24px;
    margin: 0;
}

/* input setting */
input{
    -webkit-appearance: none;
    display: block;
    padding-left: 10px;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #BDBDBD;
    color: #000000;
}

input::placeholder{
    color: #BDBDBD
}

button{
    border: none;
    display: block;
}

.register-button{
    margin: 30px auto 10px auto;
    width: 99%;
    height: 42px;
}

form>.error-message{
    margin-top: 5px;
    padding-left: 5px;
    font-size: 12px;
    color: #B53F51;
}


#hagi-text{
    font-size: 12px;
}

@media all and (max-width: 768px) {
    /* 768 이하일 경우 모바일 화면 띄우기 */
    .semi-border{
        border: 2px solid;
    }
    .default-border-radius{
        border-radius: 2px;
    }
    .medium-border-radius{
        border-radius: 4px;
    }

    h1{
        font-size: 32px;
        line-height: 36px;
        margin: 0 0 0 12px;
    }
    header{
        height: 80px;
    }
    #header-back{
        height: 64px;
        padding: 14px 0 13px 14px;
    }
    .logo-box{
        height: 12px;
        width: 12px;
    }

    #user-button-wrapper{
        font-size: 12px;
        width: 192px;
    }

    #content-wrapper {
        float: none;
        width: 83%;
        margin: auto;
        padding-top: 0;
    }

    .content-back{
        padding-top: 32px;
    }
}

@media all and (max-width: 480px) {
    header{
        height: 112px;
    }
    #user-button-wrapper{
        margin-left: calc(100% - 192px);
        margin-bottom: 12px;
    }
    #header-back{
        height: 96px;
    }
}

@media all and (max-width: 384px) {
    /* 작은 모바일 화면 양쪽 여백 대응 */
    #left-wrapper{
        width: calc(100% - 48px);
    }
    #content-wrapper{
        width: calc(100% - 64px);
    }
}

@media all and (max-width: 360px) {
    /* 작은 모바일 화면 양쪽 여백 대응 */
    #left-wrapper{
        width: calc(100% - 20px);
    }
    #content-wrapper{
        width: calc(100% - 32px);
    }
}

