@charset "UTF-8";
/* clear pre-set */
a, a:hover, a:visited, a:active { color: #000000; text-decoration: none; }

button { border: none; display: block; }

button:focus, select:focus, input:focus { outline: none; }

select { -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; background: url("http://cdn.onlinewebfonts.com/svg/img_295694.svg") no-repeat 95% center/16px; }

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand { display: none; }

/* for logo */
.gray50 { background-color: #FAFAFA; }

.gray400 { background-color: #BDBDBD; }

.primary-color { background-color: #3F51B5; color: white; }

.primary-light { background-color: #7986CB; color: white; }

/* default css */
body { background: #BDBDBD; font-family: '본고딕', 'Noto Sans KR', sans-serif; font-weight: 300; }

.base-color { background-color: #FDFDFD; }

.text-button { color: #3F51B5 !important; font-weight: 500; }

.default-border { border: 1px solid #BDBDBD; }

.primary-border { border: #3F51B5; }

.small-border-radius { border-radius: 2px; }

.medium-border-radius { border-radius: 4px; }

.bold-futura { font-family: futura-pt-bold, sans-serif; font-weight: 700; font-style: normal; }

.medium-futura { font-family: futura-pt, sans-serif; font-weight: 500; font-style: normal; }

/* components */
.primary-button { box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); background-color: #3F51B5; color: white; }
.primary-button:active { background-color: #303F9F; }

.primary-light-button { box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); background-color: #7986CB; color: white; }
.primary-light-button:active { background-color: #3F51B5; }

.primary-border-button { background-color: white; color: #3F51B5; border: 3px solid; border-radius: 4px; }
.primary-border-button:active { background-color: #EEEEEE; }
@media all and (max-width: 768px) { .primary-border-button { border: 2px solid; } }

/* background css */
#body-wrapper { background: #E6E6E1; padding-bottom: 96px; }
#body-wrapper:after { content: ""; display: block; clear: both; }
@media all and (max-width: 768px) { #body-wrapper { padding-bottom: 32px; } }

/* header css */
header { height: 128px; }
header h1 { font-size: 40px; line-height: 52px; margin: 0 0 0 16px; float: left; }
header #header-back { height: 80px; width: 100%; border-bottom: 1px solid #757575; padding: 16px 0 16px 32px; /*margin-bottom: 48px;*/ top: 0; left: 0; position: fixed; z-index: 100; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }
header #logo-wrapper { float: left; }
header #logo-wrapper .logo-row { float: none; }
header #logo-wrapper .logo-box { float: left; height: 16px; width: 16px; border: 1px solid #FDFDFD; }
header #user-button-wrapper { width: 256px; float: right; font-size: 16px; padding-left: 8px; padding-bottom: 2px; border-bottom: 1px solid #BDBDBD; }
header #user-button-wrapper .text-button { margin-left: 16px; }
@media all and (max-width: 768px) { header { height: 80px; }
  header h1 { font-size: 32px; line-height: 36px; margin: 0 0 0 12px; }
  header #header-back { height: 64px; padding: 14px 0 13px 14px; }
  header #logo-wrapper .logo-box { height: 12px; width: 12px; }
  header #user-button-wrapper { font-size: 12px; width: 192px; } }
@media all and (max-width: 480px) { header { height: 112px; }
  header #header-back { height: 96px; }
  header #user-button-wrapper { margin-left: calc(100% - 192px); margin-bottom: 12px; } }

/* left setting */
#left-wrapper { width: calc(50% - 320px); position: fixed; z-index: 100; }
@media all and (max-width: 1152px) { #left-wrapper { width: 256px; } }
#left-wrapper #left-back { padding-right: 16px; width: calc(100% - 32px); float: left; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); background-color: #FDFDFD; }
#left-wrapper #left-triangle { border-top: solid #FDFDFD; border-right: 32px solid transparent; width: 0; height: 0; float: left; }
#left-wrapper .sub-title h2 { font-size: 32px; line-height: 72px; text-align: right; margin: 0; }
#left-wrapper .sub-title #left-back { height: 64px; }
#left-wrapper .sub-title #left-triangle { border-top-width: 64px; }
#left-wrapper .left-tab .tab-button { width: 128px; padding-left: 10px; height: 48px; margin: 0 0 16px calc(100% - 128px); background-color: #FDFDFD; cursor: pointer; color: #BDBDBD; border-bottom: 2px solid #BDBDBD; }
#left-wrapper .left-tab .tab-button:hover { color: #757575; border-bottom-color: #3F51B5; }
#left-wrapper .left-tab .tab-on { color: black; border-bottom: 3px solid #3F51B5; }
#left-wrapper .left-tab h2 { font-size: 24px; line-height: 60px; text-align: left; }
#left-wrapper .left-tab #left-back { height: 128px; padding-right: 32px; }
#left-wrapper .left-tab #left-triangle { border-top-width: 128px; }
@media all and (max-width: 768px) { #left-wrapper { /* 768 이하일 경우 모바일 헤더 세팅 */ position: static; width: 87%; margin: 0 auto 32px; }
  #left-wrapper .sub-title h2 { font-size: 28px; text-align: center; }
  #left-wrapper .sub-title #left-back { width: 100%; background-color: #ffffff; box-shadow: none; border-bottom: 1px solid #BDBDBD; padding: 0; float: none; }
  #left-wrapper .sub-title #left-triangle { display: none; }
  #left-wrapper .left-tab { clear: both; }
  #left-wrapper .left-tab h2 { text-align: center; }
  #left-wrapper .left-tab .tab-button { height: 48px; width: 50%; float: left; margin: 0; background-color: #ffffff; }
  #left-wrapper .left-tab #left-back { width: 100%; height: 64px; background-color: #ffffff; box-shadow: none; float: none; padding: 16px 0 0 0; }
  #left-wrapper .left-tab #left-triangle { display: none; } }
@media all and (max-width: 384px) { #left-wrapper { width: calc(100% - 48px); } }
@media all and (max-width: 360px) { #left-wrapper { width: calc(100% - 20px); } }

/* content setting */
#content-wrapper { width: 512px; margin: auto; padding-top: 48px; }
#content-wrapper .content-back, #content-wrapper .content-back-small { background-color: #FDFDFD; border: 1px solid #BDBDBD; }
#content-wrapper .content-back { width: 100%; padding: 48px; }
#content-wrapper .content-back-small { margin: auto; width: 384px; padding: 48px 72px; }
#content-wrapper .content-title { width: 100%; margin-bottom: 32px; padding-bottom: 16px; border-bottom: 1px solid #BDBDBD; }
#content-wrapper h3 { font-weight: normal; font-size: 24px; margin: 0; }
@media all and (max-width: 768px) { #content-wrapper { float: none; width: 83%; margin: auto; padding-top: 0; }
  #content-wrapper .content-back { padding: 32px 48px; }
  #content-wrapper .content-back-small { padding-top: 32px; padding-left: 10%; padding-right: 10%; width: 100%; } }
@media all and (max-width: 480px) { #content-wrapper .content-back, #content-wrapper .content-back-small { padding-left: 9%; padding-right: 9%; } }
@media all and (max-width: 384px) { #content-wrapper { width: calc(100% - 32px); }
  #content-wrapper .content-back, #content-wrapper .content-back-small { padding-left: 20px; padding-right: 20px; } }

/* input setting */
input { -webkit-appearance: none; display: block; padding-left: 10px; background-color: #FAFAFA; width: 100%; border: 1px solid #BDBDBD; color: black; border-radius: 2px; }
input::placeholder { color: #BDBDBD; }

.register-button { margin: 30px auto 10px auto; width: 100%; height: 42px; }

.error-message { margin-top: 5px; padding-left: 5px; font-size: 12px; color: #B53F51; }

/*# sourceMappingURL=playground.css.map */
