#user-button-wrapper {
    display: none;
}

.content-back{
    margin: auto;
    width: 384px;
}

#login-form{
    width: 240px;
    margin: auto;
}

@media all and (max-width: 768px) {
    .content-back{
        width: 100%;
    }
}

@media all and (max-width: 384px) {
    #login-form{
        width: 68.2%;
    }
}

@media all and (max-width: 480px) {
    /* 로그인 버튼이 없어서 480일때 헤더를 다시 복구 */
    header{
        height: 80px;
    }
    #header-back{
        height: 64px;
    }
}