
#body-wrapper{
    height: 640px;
}

.content-back{
    margin: auto;
    width: 384px;
    height: 352px;
    padding-top: 32px;
}

#login-form{
    width: 240px;
    margin: auto;
}

#sign-up-text{
    font-size: 12px;
}

#sing-up-button{
    color: #3F51B5;
    font-weight: bold;
}