
#body-wrapper{
    height: 800px;
}

.content-back{
    margin: auto;
    width: 384px;
    height: 512px;
    padding-top: 32px;
}

#login-form{
    width: 240px;
    margin: auto;
}

@media all and (max-width: 768px) {
    .content-back{
        width: 100%;
    }
}

@media all and (max-width: 384px) {
    #login-form{
        width: 68.2%;
    }
}